@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Swiper Styles */
.testimonials-swiper {
  padding-bottom: 40px !important;
}

.testimonials-swiper .swiper-pagination {
  bottom: 0 !important;
}

.testimonials-swiper .swiper-pagination-bullet {
  background: #d1d5db !important;
  opacity: 0.5;
  width: 8px !important;
  height: 8px !important;
  margin: 0 4px !important;
}

.testimonials-swiper .swiper-pagination-bullet-active {
  background: #3b82f6 !important;
  opacity: 1;
  transform: scale(1.2);
}

.testimonials-swiper .swiper-slide {
  height: auto;
}


.hero-text {

  font-size: 2.7rem; 
  font-weight: 700;
   line-height: 1.2;
    color: #ffffff;
     text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
      background: linear-gradient( 90deg , #1e90ff, #00c3ff);
        -webkit-text-fill-color: rgb(237 237 237 / 80);


}
